* {
    padding: 0;
    margin: 0
}

button {
    border-style: none;
    background: none;
    cursor: pointer
}

a {
    text-decoration: none
}

ol,
ul,
li {
    list-style: none
}
.cGray{color:var(--cGray)!important;
    &::before{
        background:var(--cGray)!important;
    }
}
.cBlue{color:var(--cBlue)!important;
    &::before{
        background:var(--cBlue)!important;
    }
}
.cRed{color:var(--cRed)!important;
    &::before{
        background:var(--cRed)!important;
    }
}
.cCompEx{color:var(--cCompColor)!important}

.bold{font-weight:700}

.light-mode{
    --txt:#000;
    --cGray:#929292;
    --cRed:#ff0000;
    --cBlue:#0400ff;
    --btn-border:#919191;
    --btn-active-txt:#eee;
    --btn-active:#333;
    --bg-defualt : #fff;
    --list-dot:#000;
    --nav-bg:rgba(255, 255, 255, 0.7);
    --ex-bg:#f1f1f1;
    --cCompColor:#00a156;
}
.dark-mode{
    --txt:#eee;
    --cGray:#b6b6b6;
    --cRed:#ff0000;
    --cBlue:#4680ff;
    --btn-border:#c7c7c7;
    --btn-active-txt:#ddd;
    --btn-active:#b6b6b6;
    --bg-defualt:#111111;
    --list-dot:#fff;
    --nav-bg:rgba(17, 17, 17, 0.7);
    --ex-bg:#333;
    --cCompColor:#48ffb3;
}
body{
    background:var(--bg-defualt);
}
#container{
    padding:90px 0 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background: var(--nav-bg);
    backdrop-filter: blur(8px);
    .wrap{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap:12px;
    }
    .nav-btn{
        color:#555;
        border:1px solid var(--btn-border);
        border-radius:4px;
        padding:8px 12px;
        color:var(--txt);
        &:active{
            color:var(--btn-active-txt);
            border-color:var(--btn-active);
            background:var(--btn-active);
        }
    }
    .mode-btn{
        position:absolute;
        top:24px;
        right:24px;
    }
}
.flex{
    position:sticky;
    top:90px;
    left:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:4px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    box-sizing:border-box;
}
.btn{
    padding:8px 12px;
    border:1px solid var(--btn-border);
    border-radius:4px;
    font-size:14px;
    color:var(--txt);
    &:active{
        background:yellow;
    }
}
.contents{
    padding:60px 12px;
    margin:0 auto;
    width:100%;
    max-width:1280px;
    box-sizing:border-box;
    .cont-title{
        font-size:24px;
        margin-bottom:12px;
        color:var(--txt);
    }
    .list-wrap{
        padding:48px 8px;
        border-bottom:1px solid var(--btn-border);
        .list-tit{
            font-size:16px;
            margin-bottom:24px;
            color:var(--txt);
        }
        li{
            position:relative;
            padding-left:16px;
            font-size:16px;
            color:var(--txt);
            &::before{
                position:absolute;
                top:12px;
                left:4px;
                content:"";
                display:block;
                width:4px;
                height:4px;
                background:var(--list-dot);
            }
            &:not(:first-child){
                margin-top:12px;
            }
        }
    }
    .example{
        background:var(--ex-bg);
        padding:32px 24px;
        margin:24px 0;
        color:var(--txt);
        box-sizing:border-box;
        border-radius:12px;
        border:1px solid var(--btn-border);
    }
    .high{
        font-weight:700;
        color:#ee0000;
    }
}

[class*="indent-"]{
    &[class*="-1"]{
        text-indent:12px;
    }
    &[class*="-2"]{
        text-indent:24px;
    }
    &[class*="-3"]{
        text-indent:36px;
    }
    &[class*="-4"]{
        text-indent:48px;
    }
    &[class*="-5"]{
        text-indent:60px;
    }
    &[class*="-6"]{
        text-indent:72px;
    }
}
.practice-wrap{
    padding:40px 0;
    border-bottom:1px solid var(--btn-border);
    .tit{
        font-size:20px;
        margin-bottom:12px;
        color:var(--txt);
    }
    .txt{
        font-size:14px;
        margin-bottom:24px;
        color:var(--txt);
    }
}
.answer-wrap{
    margin-top:40px;
}