* {
    padding: 0;
    margin: 0
}

button {
    border-style: none;
    background: none;
    cursor: pointer
}

a {
    text-decoration: none
}

ol,
ul,
li {
    list-style: none
}
.cGray{color:#555}
.cBlue{color:#0400ff;}
#container{
    padding:90px 0 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    .wrap{
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap:12px;
    }
    .nav-btn{
        color:#555;
        border:1px solid #aaa;
        border-radius:4px;
        padding:8px 12px;
        &:active{
            color:#eee;
            border-color:#333;
            background:#333;
        }
    }
}
.flex{
    position:sticky;
    top:90px;
    left:0;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:4px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    box-sizing:border-box;
}
.btn{
    padding:8px 12px;
    border:1px solid #333;
    border-radius:4px;
    font-size:14px;
    &:active{
        background:yellow;
    }
}
.contents{
    padding:80px 12px 0;
    margin:0 auto;
    width:100%;
    max-width:1280px;
    box-sizing:border-box;
    .cont-title{
        font-size:24px;
        margin-bottom:32px;
    }
    .list-wrap{
        padding:48px 8px;
        border-bottom:1px solid #bbb;
        .list-tit{
            font-size:16px;
            margin-bottom:24px;
        }
        li{
            position:relative;
            padding-left:16px;
            font-size:16px;
            &::before{
                position:absolute;
                top:12px;
                left:4px;
                content:"";
                display:block;
                width:4px;
                height:4px;
                background:#000;
            }
            &:not(:first-child){
                margin-top:12px;
            }
        }
    }
    .example{
        background:#f0f0f0;
        padding:32px 24px;
        margin:24px 0;
        box-sizing:border-box;
        border-radius:12px;
        border:1px solid #ddd;
    }
    .high{
        font-weight:700;
        color:#ee0000;
    }
}

[class*="indent-"]{
    &[class*="-1"]{
        text-indent:12px;
    }
    &[class*="-2"]{
        text-indent:24px;
    }
    &[class*="-3"]{
        text-indent:36px;
    }
    &[class*="-4"]{
        text-indent:48px;
    }
    &[class*="-5"]{
        text-indent:60px;
    }
    &[class*="-6"]{
        text-indent:72px;
    }
}
.practice-wrap{
    padding:0 0 40px;
    border-bottom:1px solid #ddd;
    .tit{
        font-size:20px;
        margin-bottom:12px;
    }
    .txt{
        font-size:14px;
        margin-bottom:24px;
    }
}
.answer-wrap{
    margin-top:40px;
}